


<div class="row">

	<div class="col-4">
		<%= image_tag "21.png", class: "img", style: 'width: 350px; height: 500px;' %>
	</div>
	<div  class="col-xl-6">
		<h1>Ruby on Rails</h1>
		<h3>Pages: 300</h3>
		<h3>Description</h3>
		<p>Ruby on Rails is one of the most popular web application development frameworks, but learning and using it is not the easiest task. This book will help you solve it, regardless of whether you have experience in web development in general and Rails in particular. Renowned author and Rails lead developer Michael Hartl will introduce you to Rails through the development of three applications. The author not only talks about Rails, but also covers the basics of Ruby, HTML, CSS, and SQL that will come in handy when developing your web applications. Starting a discussion of each new technique, Hartle clearly explains how it helps to solve practical problems, and then demonstrates its application in a program code that is quite simple and understandable.</p>

 		<%= link_to "Download", download_pdf_path, class: "btn btn-primary" %>	
	</div>

</div>
	