


<div class="row">

	<div class="col-4">
		<%= image_tag "147113-viktor-frankl-skazat-zhizni-da-psiholog-v-konclagere (4) (1).png", class: "img", style: 'width: 350px; height: 500px;' %>
	</div>
	<div  class="col-xl-6">
		<h1>Small business big game</h1>
		<h3>Pages: 180</h3>
		<h3>Description</h3>
		<p>For many people, psychotherapists are real magicians. After all, it is not in vain that they resort to their help when a black streak has been outlined in life, or they simply lose their nerves against the backdrop of numerous stresses. But are these specialists, healers of human souls, so omnipotent?

Jody Anderson doesn't think so. Despite the fact that even at a young age the author firmly decided to become a psychologist, the learning process disappointed her in order. So much so that Jodie invented her own way of dealing with psychological problems, flatly abandoning classical psychotherapeutic practices. It is about him that she tells the readers in this book.</p>

 		<%= link_to "Download", download_pdf_path, class: "btn btn-primary" %>	
	</div>

</div>
	