


<div class="row">

	<div class="col-4">
		<%= image_tag "Deniel_Kiz__Tsvety_dlya_Eldzhernona.jpeg", class: "img", style: 'width: 350px; height: 500px;' %>
	</div>
	<div  class="col-xl-6">
		<h1>Flowers for algernon</h1>
		<h3>Pages: 300</h3>
		<h3>Description</h3>
		<p>Forty years ago this was considered science fiction.

Forty years ago, this read like science fiction. Exploring and expanding the boundaries of the genre, greedily absorbing all sorts of the latest trends, trying on a universal face, bravely ignoring the Cain stamp of the “genre ghetto”.

Now it is perceived as one of the most humane works of modern times, as a novel of piercing psychological power, as a filigree development of the theme of love and responsibility.

It is not for nothing that Keys called the book of memoirs published already in the 1990s "Algernon, Charlie and Me."</p>

 		<%= link_to "Download", download_pdf_path, class: "btn btn-primary" %>	
	</div>

</div>
	