


<div class="row">

	<div class="col-4">
		<%= image_tag "147113-viktor-fr.png", class: "img", style: 'width: 350px; height: 500px;' %>
	</div>
	<div  class="col-xl-6">
		<h1>Simple python</h1>
		<h3>Pages: 400</h3>
		<h3>Description</h3>
		<p>"Simple Python" introduces you to the most popular programming languages. The book is ideal for both beginners and experienced programmers looking to add Python to their list of languages they have mastered.

Any programmer needs to know not only the language, but also its capabilities. You are short with the basics of Python and its standard library. Learn how to find, listen, use third-party packages. Learn the best practices for testing, debugging, code reuse and get useful development tips. Code examples and implementations include creating applications for various purposes.</p>

 		<%= link_to "Download", download_pdf_path, class: "btn btn-primary" %>	
	</div>

</div>
	