


<div class="row">

	<div class="col-4">
		<%= image_tag "147113-viktor-frankl-skazat-zhizni-da-psiholog-v-konclagere (1).jpg", class: "img", style: 'width: 350px; height: 500px;' %>
	</div>
	<div  class="col-xl-6">
		<h1>How to invent everything</h1>
		<h3>Страниц: 150</h3>
		<h3>Description</h3>
		<p>Filter water? Create an antibiotic? Build a radio and a steam engine? Prepare beer, and even store it in the refrigerator? It's easy, as long as you don't forget to take the How to Invent Everything Survival Guide with you. This book will make you smarter, smarter and help you become the most powerful person on Earth. Even if you don't have to go back in time to do it.
</p>

 		<%= link_to "Скачать", download_pdf_path, class: "btn btn-primary" %>	
	</div>

</div>
