


<div class="row">

	<div class="col-4">
		<%= image_tag "147113-viktor-frankl-skazat-zhizni-da-psiholog-v-konclagere (1).jpg", class: "img", style: 'width: 350px; height: 500px;' %>
	</div>
	<div  class="col-xl-6">
		<h1>Как изобрести все</h1>
		<p>Страниц: 150</p>
		<h3>Описание</h3>
		<p>Отфильтровать воду? Создать антибиотик? Собрать радио и паровой двигатель? Приготовить пиво, да еще и хранить его в холодильнике? Легко, если вы, конечно, не забыли захватить с собой руководство по выживанию «Как изобрести всё на свете». Эта книга сделает вас умнее, сообразительнее и поможет стать самым влиятельным человеком на Земле. Даже если для этого вам не придется возвращаться в прошлое.
</p>

 		<%= link_to "Скачать", download_pdf_path, class: "btn btn-primary" %>	
	</div>

</div>
