


<div class="row">
	
	<div class="col-4">
		<%= image_tag "147113-viktor-frankl-skazat-zhizni-da-psiholog-v-konclagere (3).jpg", class: "img", style: 'width: 350px; height: 500px;' %>
	</div>
	<div  class="col-xl-6">
		<h1>Что делать когда не знаешь что делать</h1>
		<p>Страниц: 150</p>
		<h3>Описание</h3>
		<p>Многих людей смущают разговоры о высоких целях, о моральных принципах. Они считают эти темы пафосными. Однако, не определив для себя жизненные ценности, вы не сможете расставить приоритеты и принять правильное для вас решение во многих ситуациях.
Жизнь мало предсказуема. Никакой набор типовых сценариев и соответствующих им решений не способен охватить все то, что может случиться. Но есть общие установки, которыми следует руководствоваться в любых обстоятельствах. Эта книга вооружит вас знаниями о том, как вырабатывать решения и выполнять их, что влияет на решения и что не должно влиять на них, как принимать совместные решения в семье и в рабочем коллективе, как действовать в экстремальных ситуациях, когда нужны срочные решения. Она предоставит вам возможность попрактиковаться в принятии решений, поставив себя на место других людей, а главное - поможет избавиться от неуверенности и страха принимать решения. Джонатан Херринг советует прислушаться к его рекомендациям и взять свою жизнь в свои руки.

Книга предназначена для широкого круга читателей.</p>
		
 		<%= link_to "Скачать", download_pdf_path, class: "btn btn-dark" %>	
	</div>

</div>
