


<div class="row">

	<div class="col-4">
		<%= image_tag "147113-viktor-frankl-skazat-zhizni-da-psiholog-v-konclagere (3).jpg", class: "img", style: 'width: 350px; height: 500px;' %>
	</div>
	<div  class="col-xl-6">
		<h1>What to do when you don't know what to do</h1>
		<h3>Pages: 150</h3>
		<h3>Description</h3>
		<p>Many people are embarrassed by talking about lofty goals, about moral principles. They consider these topics pompous. However, without defining life values ​​for yourself, you will not be able to prioritize and make the right decision for you in many situations. Life is little predictable. No set of typical scenarios and their corresponding solutions can cover everything that can happen. But there are general guidelines that should be followed in any circumstances. This book will equip you with knowledge about how to make and implement decisions, what influences decisions and what should not influence them, how to make joint decisions in the family and in the work team, how to deal with extreme situations when urgent decisions are needed. It will give you the opportunity to practice decision-making by putting yourself in the shoes of other people, and most importantly, it will help you get rid of uncertainty and fear of making decisions. Jonathan Herring advises to listen to his recommendations and take your life into your own hands. The book is intended for a wide range of readers.</p>

 		<%= link_to "Download", download_pdf_path, class: "btn btn-primary" %>	
	</div>

</div>
