


<div class="row">

	<div class="col-4">
		<%= image_tag "147113-viktor-frankl-skazat-zhizni-da-psiholog-v-konclagere (2).jpg", class: "img", style: 'width: 350px; height: 500px;' %>
	</div>
	<div  class="col-xl-6">
		<h1>Не так уж и сложно</h1>
		<p>Страниц 150</p>
		<h3>Описание</h3	>
		<p>Книга подходит для выхода из затянувшейся рефлексии. Кроме того идеальна для каждого, кто хочет построить себя и не знает с чего начать. Предупреждение: материал построен в форме психоделической спирали, с непривычки может закружиться голова.</p>

 		<%= link_to "Скачать", download_pdf_path, class: "btn btn-primary" %>	
	</div>

</div>
