


<div class="row">

	<div class="col-4">
		<%= image_tag "147113-viktor-frankl-skazat-zhizni-da-psiholog-v-konclagere (2).jpg", class: "img", style: 'width: 350px; height: 500px;' %>
	</div>
	<div  class="col-xl-6">
		<h1>It's not that hard</h1>
		<h3>Pages 150</h3>
		<h3>Description</h3	>
		<p>The book is suitable for getting out of a protracted reflection. Also ideal for anyone who wants to build themselves and doesn't know where to start. Warning: the material is built in the form of a psychedelic spiral, it can spin if you are not used to it.</p>

 		<%= link_to "Download", download_pdf_path, class: "btn btn-primary" %>	
	</div>

</div>
