


<div class="row">
	
	<div class="col-4">
		<%= image_tag "147113-viktor-frankl-skazat-zhizni-da-psiholog-v-konclagere (4) (1).jpg", class: "img", style: 'width: 350px; height: 500px;' %>
	</div>
	<div  class="col-xl-6">
		<h1>Ночной болтун</h1>
		<p>Страниц: 150</p>
		<h3>Описание</h3>
		<p>Для многих людей психотерапевты – настоящие волшебники. Ведь не зря к их помощи прибегают, когда в жизни наметилась черная полоса или же банально сдают нервы на фоне многочисленных стрессов. Но так ли всесильны эти специалисты – лекари человеческих душ?

Джоди Андерсон так не считает. Несмотря на то, что еще в юном возрасте автор твердо решила стать психологом, процесс обучения ее порядком разочаровал. Настолько сильно, что Джоди изобрела собственный способ борьбы с психологическими проблемами, наотрез отказавшись от классических психотерапевтических практик. Именно о нем она и рассказывает читателям в этой книге.</p>
		
 		<%= link_to "Скачать", download_pdf_path, class: "btn btn-dark" %>	
	</div>

</div>
