


<div class="row">

	<div class="col-4">
		<%= image_tag "1.jpg", class: "img", style: 'width: 350px; height: 500px;' %>
	</div>
	<div  class="col-xl-6">
		<h1>Anxious people</h1>
		<h3>Pages 150</h3>
		<h3>Description</h3>
		<p>In a small Swedish town on New Year's Eve, a masked man armed with a gun, after failing to rob a bank, takes eight hostages while showing buyers an apartment for sale.
A crowd of reporters greedy for sensations immediately gathers at the entrance, the police block all approaches to the house and are preparing to storm the apartment ... the atmosphere is heating up. Unable to withstand the growing tension, the hostages share their deepest secrets with each other...
Soon the robber begins to think that perhaps it is better to voluntarily give himself into the hands of the police than to continue to remain in a confined space with all these unbearable people ...</p>

 		<%= link_to "Download", download_pdf_path, class: "btn btn-primary" %>
	</div>

</div>
