


<div class="row">

	<div class="col-4">
		<%= image_tag "147113-viktor-frankl-skazat-zhizni-da-psiholog-v-konclagere (4).jpg", class: "img", style: 'width: 350px; height: 500px;' %>
	</div>
	<div  class="col-xl-6">
		<h1>What is the liver silent about</h1>
		<h3>Pages: 150</h3>
		<h3>Description</h3>
		<p>Surprisingly interesting and informative book by Dr. Vyalov will tell not only dozens of non-obvious facts about the work of the liver, but also help to deal with serious problems that disrupt the stable operation of our body. Useful tables and diagrams explaining in detail the process of liver disease will complete the picture and make really complex medical material collected over many years of practice by a professional doctor and candidate of science, simple and understandable to every reader.</p>

 		<%= link_to "Download", download_pdf_path, class: "btn btn-primary" %>
	</div>

</div>
