


<div class="row">

	<div class="col-4">
		<%= image_tag "147113-viktor-frankl-skazat-zhizni-da-psiholog-v-konclagere (4).jpg", class: "img", style: 'width: 350px; height: 500px;' %>
	</div>
	<div  class="col-xl-6">
		<h1>О чем молчит печень</h1>
		<p>Страниц: 150</p>
		<h3>Описание</h3>
		<p>Удивительно интересная и познавательная книга доктора Вялова расскажет не только десятки неочевидных фактов про работу печени, но и поможет разобраться с серьезными проблемами, нарушающими стабильную работу нашего организма. Полезные таблицы и схемы, подробно объясняющие процесс заболевания печени, дополнят картину и сделают действительно сложный медицинский материал, собранный за многие годы практики профессиональным врачом и кандидатом наук, простым и понятным каждому читателю.</p>

 		<%= link_to "Скачать", download_pdf_path, class: "btn btn-primary" %>
	</div>

</div>
