
<h1>Эти файлы нужны для проверки функционала сайта</h1>

<h3>Cкопируйте текст, а так же скачайте обложку и книгу, для последующей загрузки на сайт</h3>

<p>В шестнадцать лет Эдит Эгер мечтала о карьере балерины, но вместо театральной сцены девушку ждал… Аушвиц. Здесь она потеряла своих родителей, погибших в газовой камере. Вынуждена была танцевать перед нацистским офицером Йозефом Менгеле за буханку хлеба. Вместе с сестрой боролась за жизнь в лагерях смерти. Весной 1945 года Эдит оказалась в австрийском концлагере Гунскирхен. Здесь американские освободители и обнаружили истощенную и измученную девушку среди груды мертвых тел.</p>
<%= link_to "Скачать обложку", download_jpg_path, class: "btn btn-dark" %>
<%= link_to "Скачать книгу", download_pdf_path, class: "btn btn-dark" %>
