


<div class="row">
	
	<div class="col-4">
		<%= image_tag(@book.image.thumb.url, alt: 'Image', class: "img", style: 'width: 300px; height: 500px;') if @book.image?  %>
	</div>
	<div  class="col-4">
		<h1><%= @book.name %></h1>
		<br/><br/><br/>
		<p>Описание:</p>
		<h3><%= @book.desc %></h3>
		<br/>

		<br/>
 		<%= link_to "Скачать", @book.attachment_url, class: "btn btn-dark"%>	
	</div>

</div>
