<h1><%= @book.name %></h1>
<br/><br/><br/>
<p>Описание:</p>
<h3><%= @book.desc %></h3>
<br/>
<%= image_tag(@book.image.thumb.url, alt: 'Image', class: "img" style: 'width: 300px;') if @book.image?  %>
<br/>
 <%= link_to "Скачать", @book.attachment_url, class: "btn btn-dark"%>